NODE_ENV=development
PORT=3002

DB_HOST=localhost
DB_PORT=5432
DB_NAME=ecomm_user_db
DB_USER=admin
DB_PASSWORD=password123

RABBITMQ_URL=amqp://guest:guest@localhost:5672

JWT_ACCESS_SECRET=dev_access_secret_super_secure_key_12345

ALLOWED_ORIGINS=http://localhost:3000